<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothingStore</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-container">
                <img  class="logo-img" src="~/img/logo.png" alt="Logo" />
                <div class="header-menu">
                    <ul class="menu-list">
                        <li class="list">
                            <a class="tag-list" href="#">Áo</a>
                        </li>
                        <li class="list">
                            <a class="tag-list" href="#">Quần</a>
                        </li>
                        <li class="list">
                            <a class="tag-list" href="#">Phụ Kiện</a>
                        </li>
                    </ul>
                    <input  class ="menu-search" type="search"  placeholder="Tìm kiếm sản phẩm" name="search" value="" />
                </div>
                <div class="header-chose">
                <div class="cart">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </div>
                    <button class="Login"> Login</button>
                </div>
          
        </div>
    </header>

    <div class="app-container">
            @RenderBody()     
    </div>

    <footer>
      

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
    